body {color:white;
    background-color: rgb(0, 0, 0);
   text-align:left}
p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:greenyellow}
h1 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:greenyellow}
li {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:aliceblue}
h4 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:greenyellow}